body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #1f271b;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
  margin-bottom: 5px;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #1f1a38;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

li :first-letter {
  text-transform: capitalize;
}

a {
  color: #7b506f;
}

.weather-app {
  border: 2px solid #1f1a38;
  padding: 15px;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 600px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: #1f271b;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

button {
  background-color: #dbcdc6;
  font-family: arial, sans-serif;
  color: #1f1a38;
  border: none;
  border-radius: 10px;
  font-size: 15px;
}

.open-source {
  color: #7b506f;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #7b506f;
  border-color: #7b506f;
}

.row {
  padding-top: 15px;
}

.forecast-icon {
  display: block;
  width: 95%;
  margin: auto;
}

.forecast {
  text-align: center;
}

.today img {
  display: block;
  margin: auto;
  position: relative;
  max-height: 80%;
}

.now-temp {
  padding-top: 10px;
}

.units .active {
  color: #1f271b;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.forecast-temp-min {
  color: #979dac;

}